<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Michael Cooley Website</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="/css/slick.css"/>

        <link href="/css/tooplate-little-fashion.css" rel="stylesheet">

    </head>
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="/dashboard">
                        <strong><span>Cooley</span> Collection</strong>
                    </a>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">

                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/michaelcooleycollection">Michael Cooley Collection</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/facts">Facts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            
            <section class="slick-slideshow">
                <div class="slick-custom">
                    <img src="images/slideshow/Lucas-Plan.jpg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Intresting Facts</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">The Michael Cooley Collection stands as a testament to a lifelong passion for preserving history, featuring a diverse array of rare and significant artifacts meticulously curated over decades.</p>

                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

          </main>

          <main>
            <div class="container mt-4">
                <h1 class="text-center">Facts About Professor Michael Cooley</h1>
                <div class="row">
            <!-- Main Content Area -->
            <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="shadow-box">
                    <h2>FACT 1:</h2>
                    <p>Michael Cooley was an Irish-born engineer known for his work on the social effects of technology, particularly "Socially Useful Production" and "Human-Centered Systems."</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shadow-box">
                    <h2>FACT 2:</h2>
                    <p>He played a significant role in workplace activism at Lucas Aerospace in the late 1970s, where he was involved in creating The Lucas Plan, a proposal to convert military production to socially useful products.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shadow-box">
                    <h2>FACT 3:</h2>
                    <p>Cooley was awarded the Right Livelihood Award in 1981 for designing and promoting the theory and practice of human-centered, socially useful production.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shadow-box">
                    <h2>FACT 4:</h2>
                    <p>Michael Cooley's innovative thinking on technology led to his concept of "skill-centred systems," which aim to prioritize the enhancement and utilization of human skills within technological environments.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shadow-box">
                    <h2>FACT 5:</h2>
                    <p>His work extended into the political arena, where he was a key figure in the '70s advocating for socially useful and sustainable production models in industry.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shadow-box">
                    <h2>FACT 6:</h2>
                    <p>Cooley's contributions to technology and society were recognized internationally, exemplified by his receipt of the Alternative Nobel Prize, the Right Livelihood Award.</p>
                </div>
            </div>
        </div>
    </div>
        </main>

        <section class="featured-product section-padding">
            <div class="container">
                <div class="row">
                    
                    <div class="col-12 text-center">
                        <h2 class="mb-5">Books Written By Michael Cooley</h2>
                    </div>

                        
                    <div class="col-lg-4 col-12 mb-3 d-flex justify-content-center">
                        <div class="shadow-box">
                        <div class="product-thumb">
                            <a href="https://www.amazon.com/Delinquent-Genius-Strange-Affair-Technology/dp/0851248780">
                                <img src="images/product/Delinquent-Genius.jpg" class="img-fluid product-image" alt="">
                            </a>


                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="https://www.amazon.com/Delinquent-Genius-Strange-Affair-Technology/dp/0851248780" class="product-title-link">Delinquent Genius</a>
                                    </h5>

                                    <p class="product-p">The Strange Affair of Man and His Technology</p>
                                </div>

                                <small class="product-price text-muted ms-auto mt-auto mb-5">$20</small>
                            </div>
                        </div>
                    </div>
                </div>



                    <div class="col-lg-4 col-12 mb-3 d-flex justify-content-center">
                        <div class="product-thumb">
                            <div class="shadow-box">
                            <a href="https://www.amazon.co.uk/Architect-Bee-Human-Technology-Relationship/dp/0907118003">
                                <img src="images/product/architect-or-bee.jpeg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <span class="product-alert">Amazing Price</span>

                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="https://www.amazon.co.uk/Architect-Bee-Human-Technology-Relationship/dp/0907118003" class="product-title-link">Architect Or Bee</a>
                                    </h5>

                                    <p class="product-p">The human/technolgy relationship</p>
                                </div>

                                <small class="product-price text-muted ms-auto mt-auto mb-5">$20</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <div class="shadow-box">
                        <a href="https://www.amazon.co.uk/Search-Alternatives-Liberating-Human-Imagination/dp/0851248853">
                            <img src="images/product/thirdBook.jpg" class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert me-auto">New Arrival</span>

                            <a href="#" class="bi-heart-fill product-icon"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a href="https://www.amazon.co.uk/Search-Alternatives-Liberating-Human-Imagination/dp/0851248853" class="product-title-link">The Search for Alternatives: </a>
                                </h5>

                                <p class="product-p">Liberating Human Imagination</p>
                            </div>

                            <small class="product-price text-muted ms-auto mt-auto mb-5">$12</small>
                        </div>
                    </div>
                    </div>
                </div>


                </div>
            </div>
        </section>

          <footer class="site-footer">
              <div class="container">
                  <div class="row">
  
                      <div class="col-lg-3 col-10 me-auto mb-4">
                          <h4 class="text-white mb-3"><a href="/dashboard">Cooley</a> Collection</h4>
                          <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2024 <strong>South East Technological University</strong></p>
                          <br>
                          <p class="copyright-text">Designed by <a href="https://www.linkedin.com/in/daniels-zabello-6545831b8/?originalSubdomain=ie" target="_blank">Daniels</a></p>
                      </div>
  
                      <div class="col-lg-5 col-8">
                          <h5 class="text-white mb-3">Sitemap</h5>
  
                          <ul class="footer-menu d-flex flex-wrap">
                              <li class="footer-menu-item"><a href="https://www.wit.ie/news/news/influential-irish-engineer-and-cybernetician-prof-mike-cooley-archive-donat" class="footer-menu-link">More Info</a></li>

                          </ul>
                      </div>
  

  
                  </div>
              </div>
          </footer>

          
  
          <!-- JAVASCRIPT FILES -->
          <script src="js/jquery.min.js"></script>
          <script src="js/bootstrap.bundle.min.js"></script>
          <script src="js/Headroom.js"></script>
          <script src="js/jQuery.headroom.js"></script>
          <script src="js/slick.min.js"></script>
          <script src="js/custom.js"></script>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
      </body>
  </html>
